/* 1300 - 1920 px */
@media only screen 
and (max-width: 1350px)
and (max-device-width : 1350px)
{
	.wide .input {
		width: 32px;
	}
}
/* 1200 - 1920 px */
@media only screen 
and (max-width: 1200px)
and (max-device-width : 1200px)
{
	.input{
		width:100px;
	}
}
